.button {
  outline: none;
  background-color: var(--primary-dark);
  border-radius: 5px;
  width: 100%;
  padding: 0.5em 0;
  cursor: pointer;
  border: 2px transparent solid;
  transition: border-color 0.5s;
}

.button:hover {
  border-color: var(--primary-darker);
}

.top-margin {
  margin-top: 24px;
}
